@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.home-text{
    font-family: 'Inconsolata', monospace;
    color: white;
}
.home-container{
   height: 100vh;
}

.icon svg{
    font-size: 2.5em;
}

.wss-icon svg{
    fill: rgb(55, 68, 187);
}
.github-icon svg{
    fill:rgb(55, 68, 187);
}
.facebook-icon svg{
    fill: rgb(55, 68, 187);
}
.linkedin-icon svg{
    fill: rgb(55, 68, 187);
}

.wss-icon svg:hover{
    fill: rgb(34, 177, 34);
    
}
.github-icon svg:hover{
    fill: white
}
.facebook-icon svg:hover{
    fill: rgb(30, 48, 207);
    background-color: aliceblue;

}
.linkedin-icon svg:hover{
    fill: rgba(9, 37, 131, 0.89);
    background-color: aliceblue;

}